.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 30px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-around
}
.navbar li a{
  text-decoration: none;
}
.navbar li {
  list-style: none;
}